/*Images by storyset on Freepik &
Images by Freepik 
Footer Graphic Vectors by Vecteezy
Email Image by talha khalil from Pixabay*/




body {
    font-family: 'Afacad', sans-serif;
    margin: 0;
    padding: 0;
    
}

.main__title h2 {
        font-size: 53px;
        font-weight: 700;
        color: #222;
        text-align: center;
}



/*Navigation styling*/ 

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #e0f6fc;
    
    

    .nav__logo {
        font-size: 30px;
        font-weight: 700;
        margin-left: 1rem;
        margin-top: 1rem;
    }
    

    .nav__links {
        list-style: none;
        display: flex;
        gap: 2rem;
        font-size: 14px;
        font-weight: 500;
        margin-top: 2rem;
        

    }

    .nav__links--active {
        font-weight: 700;
        color: #000;

    }

    a {
        text-decoration: none;
        color: #222;
    }
}

.nav__interactive--menu {
    width: 3rem;
    display: none;

}

/*Hover and transition effect on button*/

.nav__interactive--btn {
    font-size: 12px;
    font-weight: 600;
    width: 140px;
    height: 40px;
    margin-right: 1rem;
    margin-top: 1rem;
    background: #e0f6fc;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s;
}

.nav__interactive--btn:hover {
    background-color: #ecdeff71;
}

/*Header styling*/

.header-wrapper {
    background: #e0f6fc;
    height: 740px;
    
    
    .header__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .header__content--text {
        max-width: 554px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header__content--app-btn {
        display: flex;
        justify-content: center;
        gap: 2rem;
        margin-top: 3rem;
        
    }

    .header__img {
        max-width: 440px;
        padding-bottom: 0;
        
    
    }

    .header__content h1 {
        font-size: 53px;
        font-weight: 700;
        text-align: center;
        color: #222;
        
    }

    .header__content p {
        font-size: 16px;
        font-weight: 400;
        text-align: center;
        color: #222;

    }
}


/*Card styling*/

.card-wrapper {
    padding: 0px 30px 0px 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
  }

  .card {
    justify-self: center;
    background-color: #fff;
    box-shadow: 0.2px 1px 3px rgb(0, 0, 0, 0.2);
    border-radius: 3px;
    margin-bottom: 3rem;
  }

  .card:hover {
    box-shadow: 0.3px 2px 4px rgba(0, 0, 0, 0.411);

  }
    
    .card__img {
        width: 100%;
        height: auto;
    }
    
   .card__content h4 {
  font-size: 22px;
  text-align: center;
  margin-bottom: 0;
  line-height: normal;
  color: #222;
}
    
.card__content p {
    font-size: 16px;
    text-align: center;
    line-height: normal;
    margin-top: 0;
    color: #222;
  }




/*Collection card styling*/ 

.collection__card {
    background: #2b2f30;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: span 2;
  }

    .collection__card h3 {
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 0;
        color: #fff;
    }

    .collection__card p {
        font-size: 18px;
        margin-top: 0;
        color: #fff;
        
    }

    .collection__card--btn {
    color: white;
    font-size: 12px;
    font-weight: 600;
    width: 140px;
    height: 40px;
    border-radius: 3px;
    border-color: #fff;
    background: none;
        
    }



/*Footer styling*/

.footer {
    background-color: grey;
    height: 500px;
    width: 100%;
    background-image: url(vecteezy_background-with-abstract-shapes-vector-design_8641794.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    box-shadow: 0 -3px 3px -3px #e2e2e2;
    margin-top: 11rem; 
    display: flex;
    justify-content: flex-end;
    

}

/*Contact form styling*/


.footer__contact h3 {
    text-align: center;
    font-size: 40px;
    color: #393939;
    margin: 1rem;
}

.footer__contact {
    width: 434px;
    min-height: 417px;
    background: rgba(214, 187, 220, 0.651);
    box-shadow: 0 -3px 3px -3px #d2d2d2;
    box-sizing: border-box;
    border-radius: 3px;
    margin-top: 2.6rem;
    margin-right: 2rem;
    
    

/*Contact Us form styling*/

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    input {
        width: 370px;
        height: 40px;
        margin-top: 0.5rem;
        border: none;
        border-radius: 5px;
        outline: none;
        background: rgba(255, 255, 255, 0.616);
    
    }
    
    textarea {
        width: 370px;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
        border: none;
        outline: none;
        border-radius: 5px;
        background: rgba(255, 255, 255, 0.616);
    
    }
    
    .footer__contact--btn {
        width: 150px;
        height: 30px;
        font-weight: 700;
        border-radius: 5px;
        border: none;
        background: #ffffffca;
        color: #393939;
        cursor: pointer;
        transition: 0.3s;
    }

    .footer__contact--btn:hover {
        background-color: #e0f6fc;
    }
    
}



@media screen and (max-width: 852px) {
    .card-wrapper {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);
      gap: 20px;
    }
  
    li {
      display: none;
    }
  
    .nav__interactive--btn {
      display: none;
    }
  
    .nav__interactive--menu {
      display: block;
      cursor: pointer;
    }

    .nav__interactive--menu:hover {
      background-color: #bfd5da6f;
    }

    
  }

  @media screen and (max-width: 480px) {
    .header-wrapper {
      height: 633px;
    }
  
    .header__content--app-btn {
      gap: 0.5rem;
    }

  
    
  }





